{% extends 'base_STO.html' %}
{% load static %}


{% block content %}

    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- contact-area start -->
        <section class="contact-area pt-30 pb-50 fix">
            <div class="container">
                <div class="row">
                <h1 class="text-center mb-30">
                    Записаться на ремонт автомобиля
                </h1>
                <div class="mb-30">Ниже представлена форма для предварительной записи на ремонт или диагностику
                    автомобиля на СТО «Кармастер» в Севастополе.</div>
                    <h2 class="absection-title">Предварительная запись на СТО</h2>

                    <!-- chosen services start -->
                    <div class="col-xxl-5 col-xl-6 col-lg-6">
                        <div class="sec-wrapper">
                            <h5>Список услуг, которые вас заинтересовали</h5>
                            <p class="mr-10">Вы можете добавить в этот список услуги, которые вам
                                необходимы или по которым вы бы хотели получить дополнительную информацию.
                                Список будет отправлен вместе с вашим сообщением.
                            </p>
                        </div>

                        <div class="row text-center">

                        </div>

                        <div class="contact-info mr-50 mr-xs-0  mr-md-0 mb-30">
                            <div class="table-content table-responsive">
                                <table class="table table-striped">
                                    <caption>Список заинтересовавших вас услуг</caption>
                                    <thead>
                                    <tr>
                                        <th class="cart-product-name">Услуга</th>
                                        <th class="product-price">Стоимость</th>
                                        <th class="product-remove">Удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for service in services %}
                                        <tr>
                                            <td class="product-name">{{ service.title }}</td>
                                            <td class="product-price"><span
                                                    class="amount">от {{ service.min_price }}</span>
                                            </td>
                                            <td class="product-remove">
                                                <form id="{{ service.slug }}"
                                                      action="{% url 'remove_service_from_list' service.slug %}"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <a onclick="document.forms['{{ service.slug }}'].submit();">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-12">
                                    <div class="cart-page-total">
                                        <h2>Ориентировочная сумма услуг</h2>
                                        <ul class="mb-20">
                                            <li>Итого <span> от {{ services_sum }} &#x20bd;</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chosen services end -->

                    <!-- contact-area start -->
                    <div class="col-xxl-7 col-xl-6 col-lg-6">
                        <div class="sec-wrapper">
                            <h5>Форма для предварительной записи</h5>
                        </div>

                        <!-- error and messages panel start -->
                        <div>
                            <ul class="errorlist">
                                {% if messages %}
                                    <div class="row alert alert-success alert-dismissible fade show" role="alert"
                                         style="margin-top: 50px;">
                                        {% for message in messages %}
                                            <div{% if message.tags %}
                                                class="{{ message.tags }}"{% endif %}>{{ message|escape }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if form.non_field_errors %}
                                    <li class="text-danger">{{ form.non_field_errors }}</li>
                                {% endif %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="row alert alert-warning alert-dismissible fade show" role="alert"
                                             style="margin-top: 50px;">
                                            <li>
                                                <i class="fas fa-exclamation-circle text-warning"></i>
                                                <u>{{ field.label }}</u>
                                                <ul class="errorlist">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- error and messages panel end -->

                        <!-- appointment form start -->
                        <form id="contacts-form" class="conatct-post-form mb-30"
                              action="{% url 'services_registration' %}"
                              method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-icon p-relative contacts-name">
                                        <label class="small mb-1" for="{{ form.name.id_for_label }}">
                                            {{ form.name.label }}
                                        </label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label class="small mb-1" for="{{ form.phone.id_for_label }}">
                                        {{ form.phone.label }}
                                    </label>
                                    {{ form.phone }}
                                </div>
                                <div class="col-xl-12">
                                    <div class="contact-icon p-relative contacts-message">
                                        <label class="small mb-1" for="{{ form.content.id_for_label }}">
                                            {{ form.content.label }}
                                        </label>
                                        {{ form.content }}
                                    </div>
                                </div>
                                {% if form %}
                                <div class="col-xl-12">
                                    <div class="contact- mt-15">
                                        <button class="btn-tp mt-15" type="submit">Записаться</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                        <!-- appointment form end -->
                    </div>
                    <!-- contact-area end -->
                </div>
            </div>
        </section>
        <!-- contact-area end -->

    </main>

{% endblock %}
