{% extends 'base_STO.html' %}
{% load static %}


{% block content %}

    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- guarantees area start -->
        <section class="about__history pt-30 pb-20 mb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="text-center mb-10">
                        Гарантии на ремонт автомобилей в Севастополе
                    </h1>
                    <div class="text-center mb-30">Ниже представлены условия гарантии на ремонт автомобилей,
                        который производится на СТО «Кармастер» в Севастополе.
                    </div>
                    <div class="col-xxl-8 col-xl-10">
                        <div class="about__history-wrapper">
                            <div class="about__history-title-area">
                                <h3 class="about__history-title">
                                    <span>Наши гарантии</span>
                                </h3>
                            </div>
                        </div>
                        <div class="list-counter-circle">
                            <ol>
                                <li>Профессиональная покрасочная камера.</li>
                                {#                                <li>Контроль работы мастеров и всего цикла работ.</li>#}
                                <li>Документально-подтвержденная гарантия на работы 12 месяцев.</li>
                                {#                                <li>Камеры видеонаблюдения.</li>#}
                                <li>Оплата после принятия работ.</li>
                                {#                                <li>Свободный доступ в ремонтную зону.</li>#}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- guarantees area end -->

        <!-- advantages area start -->
        <section class="features__area mb-50">
            <div class="row mb-30">
                <div class="col-12">
                    <div class="sec-wrapper text-center">
                        <h5>Лучшая гарантия - отзывы о нас</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="https://yandex.ru/profile/235818273283?intent=reviews&utm_source=badge&utm_medium=rating&utm_campaign=v1"
                               target="_blank" rel="noopener">
                                <div class="features__icon">
                                    <i class="fab fa-yandex"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Отзывы на Яндекс</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="https://vk.com/topic-58264387_40205975?offset=60" target="_blank" rel="noopener">
                                <div class="features__icon">
                                    <i class="fab fa-vk"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Отзывы ВКонтакте</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="{% url 'reviews' %}">
                                <div class="features__icon">
                                    <i class="fab fa-youtube"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Отзывы на YouTube</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- advantages area end -->
    </main>

{% endblock %}
