{% extends 'base_STO.html' %}
{% load static %}
{% load embed_video_tags %}


{% block content %}

    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="blog-area mt-30 mb-50">
            <div class="container custom-container">
                <div class="row">

                    <h1 class="text-center mb-10">
                        Отзывы о СТО «Кармастер» в Севастополе
                    </h1>
                    <div class="text-center mb-30">
                        Ниже представлены отзывы клиентов о СТО «Кармастер» в Севастополе.
                        Мнения и впечатления об автосервисе.
                    </div>

                  <!-- reviews area start -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="features__item text-center mb-30 features__item-border">
                                        <a href="https://yandex.ru/profile/235818273283?intent=reviews&utm_source=badge&utm_medium=rating&utm_campaign=v1"
                                           target="_blank" rel="noopener">
                                            <div class="features__icon">
                                                <i class="fab fa-yandex"></i>
                                            </div>
                                            <div class="features__content">
                                                <h3 class="features__title">Отзывы на Яндекс</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="features__item text-center mb-30 features__item-border">
                                        <a href="https://vk.com/topic-58264387_40205975?offset=60" target="_blank"
                                           rel="noopener">
                                            <div class="features__icon">
                                                <i class="fab fa-vk"></i>
                                            </div>
                                            <div class="features__content">
                                                <h3 class="features__title">Отзывы ВКонтакте</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="features__item text-center mb-30 features__item-border">
                                        <a href="https://www.youtube.com/channel/UCVjBSfzyoFqcnOkkSy8NEZg"
                                        target="_blank" rel="noopener">
                                            <div class="features__icon">
                                                <i class="fab fa-youtube"></i>
                                            </div>
                                            <div class="features__content">
                                                <h3 class="features__title">Отзывы на YouTube</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- reviews area end -->

                    <!-- page left part start-->
                    <div class="col-xl-8 col-lg-8">
                        <div class="blog__wrapper pr-50">
                            {% for review in videofile_list %}
                                <div class="blog-wrap blog-item mb-50">
                                    <h3 class="blog-title">
                                        {{ review.title }}
                                    </h3>
                                    <div class="thumb-wrap">
                                        {% if review.video %}
                                            <iframe width="560" height="315" class="embed-responsive-item d-flex"
                                                    src="{{ review.video | safe }}"
                                                    allowfullscreen>

                                            </iframe>
                                        {% endif %}
                                    </div>

                                    <div class="blog-details mt-35">
                                        <div class="text-main">{{ review.description | safe }}</div>
                                        {% if review.related_case %}
                                            <div class="blog-btn mt-25">
                                                <a href="{{ review.related_case.get_absolute_url }}"
                                                   class="link-btn">Узнать больше об этом заказе</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- pagination area start -->
                        <div class="row mb-50">
                            <div class="col-xxl-12">
                                <div class="shop-pagination">
                                    <div class="basic-pagination">
                                        <nav>
                                            <ul>
                                                <li>
                                                    <a class="{% if not page_obj.has_previous %} btn p-0 disabled {% endif %}"
                                                       href="{% if page_obj.has_previous %} ?page=
                                                   {{ page_obj.previous_page_number }}{% else %} # {% endif %}">
                                                        <i class="far fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                {% for page in page_obj.paginator.page_range %}
                                                    <li>
                                                        <a href="?page={{ page }}">{{ page }}</a>
                                                    </li>
                                                {% endfor %}
                                                <li>
                                                    <a class="{% if not page_obj.has_next %} btn p-0 disabled {% endif %}"
                                                       href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                               {% else %} # {% endif %}">
                                                        <i class="far fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- pagination area end -->

                    </div>
                    <!-- page left part end-->

                    <!-- right sidebar start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog__sidebar">
                            <div class="sidebar__widget mb-50 wow fadeInUp" data-wow-delay=".2s"
                                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-content">
                                    <div><h3>Записаться на СТО</h3></div>
                                    <div class="pro-cart-btn">
                                        <a href="{% url 'services_registration' %}" class="btn-tp-2 mb-20 m-1 w-100">
                                            К форме записи
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__widget sidebar__widget-padding mb-75 wow fadeInUp grey-bg-2"
                                 data-wow-delay=".4s"
                                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-title mb-25">
                                    <h4>Больше выгоды</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="rc-post">
                                        <ul>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'stocks_list' %}">Акции</a>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'bonus' %}">Бонусная программа</a>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'referral' %}">Реферальная программа</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__widget sidebar__widget-padding mb-75 wow fadeInUp grey-bg-2"
                                 data-wow-delay=".6s"
                                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-title mb-25">
                                    <h4>Больше информации</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="rc-post">
                                        <ul>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'guarantees' %}">Гарантии</a>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'contacts' %}">Связаться с нами</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right sidebar end-->

                </div>
            </div>
        </section>
        <!-- page content end -->

    </main>

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/STO.js' %}"></script>
{% endblock %}