@use '../utils/index' as *;

/*----------------------------------------*/
/*  10. HEADER CSS START
/*----------------------------------------*/
.header{
    &__top{
        &-info{
            padding: 2px 0 4px;
            & ul{
                & li{
                    display: inline-block;
                    position: relative;
                    &:not(:last-child){
                        padding-right: 25px;
                        margin-right: 25px;
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        width: 1px;
                        height: 18px;
                        background-color: rgba($color: $white, $alpha: .15);
                    }
                    & p{
                        font-size: 13px;
                        color: $grey-2;
                        font-weight: 300;
                        margin-bottom: 0;
                        & a{
                            font-weight: 500;
                            position: relative;
                            &::after{
                                position: absolute;
                                content: '';
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
        &-2{
            padding: 3px 0;
            border-bottom: 1px solid $border-4;
        }
        &-menu{
            & ul{
                & li{
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    & a{
                        font-size: 12px;
                        font-weight: 300;
                        color: $text-3;

                        &:hover{
                            color: $black;
                        }
                    }
                    &.has-dropdown{
                        & > a{
                            padding-right: 11px;
                            &::after{
                                position: absolute;
                                content: '\f107';
                                right: 0;
                                top: 1px;
                                font-size: 12px;
                                color: $text-3;
                                font-family: $fontawesome;
                            }
                        }
                        &:hover{
                            & a{
                                &::after{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-features{
            display: flex;
            margin-left: 45px;
            position: relative;
            top: 8px;
            &::before{
                position: absolute;
                content: '';
                background: $border-2;
                width: 1px;
                height: 100%;
                top: -8px;
                left: -45px;
            }
            &-3{
                @media #{$sm,$xs} {
                    display: none;
                }
            }
        }
    }
    &__social{
        & ul{
            & li{
                display: inline-block;
                margin-right: 20px;
                & a{
                    color: $text-2;
                    & i{
                        color: $theme-color-1;
                    }
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
    &__select{
        &-item{
            & .nice-select{
                border: 0;
                height: inherit;
                line-height: inherit;
                padding-left: 0;
                padding-right: 11px;
                &::after{
                    border-color: $text-3;
                    border-width: 1px;
                    right: 0;
                }
                & .list{
                    left: auto;
                    right: 0;
                    border-radius: 0;
                    &-2{
                        right: -30px;
                    }
                }
            }
            &-2{
                & span{
                    color: $text-3;
                }
                & .nice-select{
                    margin-left: 4px;
                    float: none;
                    & .current{
                        color: $black-2;
                    }
                }
            }
            &-3{
                display: flex;
                & .country-flag{
                    margin-right: 5px;
                }
                & .nice-select{
                    background: transparent;
                    color: $heading-color;
                }
            }
            &-4{
                & nice-select .list {
                    right: -30px;
                }
            }
        }
        &-2{
            position: relative;
            &::before{
                position: relative;
                content: "";
                width: 1px;
                height: 15px;
                left: -30px;
                top: 0px;
                background: #77777778;
                display: inline-block;
            }
        }
    }
    &__search{
        &-input{
            position: relative;
            width: 250px;

            @media #{$xl}{
                width: 230px;
            }
            & input{
                width: 100%;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                padding-right: 50px;
                border: 1px solid $border;
                @include border-radius(3px);

                &::placeholder{
                    color: $text-4;
                    font-size: 14px;
                }

                &:focus{
                    border-color: $black;
                }
            }
            & button{
                font-size: 18px;
                color: $black-2;
                position: absolute;
                top: 50%;
                right: 20px;
                @include transform(translateY(-50%))
            }

            &-2{
                position: relative;
                & input{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                    color: $black;
                    border: 1px solid $border;
                    @include border-radius(3px);
                    font-size: 13px;
                    padding-right: 165px;
                    &::placeholder{
                        color: $text-10;
                    }
                }

                & button{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    @include transform(translateY(-50%));
                    font-size: 17px;
                    color: $black-2;
                }

                & .nice-select{
                    position: absolute;
                    padding: 0;
                    padding-right: 15px;
                    height: 40px;
                    line-height: 40px;
                    border: 0;
                    top: -2px;
                    right: 60px;
                    background-color: transparent;
                    &::after{
                        margin-top: -2px;
                        width: 5px;
                        height: 5px;
                        right: 0;
                        border-width: 1px;
                        border-color: $text-3;
                    }
                    & .current{
                        font-size: 13px;
                        color: $black;
                    }
                }
            }
            &-3{
                position: relative;
                & input{
                    padding-left: 165px;
                    padding-right: 55px;
                }
                & button{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    @include transform(translateY(-50%));
                    font-size: 17px;
                    color: $black-2;
                }
                & .nice-select{
                    position: absolute;
                    padding: 0;
                    padding-right: 15px;
                    height: 40px;
                    line-height: 40px;
                    border: 0;
                    top: 0px;
                    left: 20px;
                    background-color: transparent;
                    width: 130px;
                    &::after{
                        margin-top: -3px;
                        width: 7px;
                        height: 7px;
                        left: 100px;
                        border-width: 1px;
                        border-color: $black-2;
                    }
                    &::before{
                        position: relative;
                        content: '';
                        width: 1px;
                        height: 15px;
                        right: -125px;
                        top: 4px;
                        background: #77777778;
                        display: inline-block;
                    }
                    & .current{
                        font-size: 13px;
                        color: $black;
                    }
                }
            }
        }
    }
    &__action{
        & ul{
            & li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 20px;
                }
                & a{
                    display: inline-block;
                    font-size: 25px;
                    color: $black;
                    position: relative;
                    & .cart-count{
                        position: absolute;
                        top: -4px;
                        right: -10px;
                        display: inline-block;
                        width: 19px;
                        height: 19px;
                        line-height: 19px;
                        text-align: center;
                        font-size: 12px;
                        color: $white;
                        background-color: $theme-color-2;
                        font-weight: 500;
                        @include border-radius(50%);
                    }
                    & .cart-price{
                        font-size: 14px;
                        color: $black-4;
                        margin-left: 20px;

                    }
                   & .flaticon-random-button {
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
        &-2{
            & ul{
                & li{                   
                    & a{
                        & .cart-count{
                            background-color: $theme-color-3;
                        }
                    }
                    & .cart-price{
                        color: $heading-color;
                        font-weight: 600;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    &__border{
        border-bottom: 1px solid $border-2;
        @media #{$md} {
            padding: 8px 0;
        }
    }
    &__middle{
        @media #{$lg}{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &-2{
            padding-top: 20px;
            padding-bottom: 10px;
        }
        & .sd-contact{
            margin-right: 80px;
            & span{
                font-size: 14px;
                & a{
                    color: $theme-color-3;
                    font-weight: 500;
                }
            }
        }
        &-right-2{
            display: flex;
            justify-content: end;
            @media #{$md,$xs,$sm} {
                display: none;
            }
        }
        &-right-d{
            @media #{$md,$xs,$sm} {
                margin-top: 10px;
            }
        }
    }
    &__bottom{
        @media #{$lg, $md, $sm, $xs}{
            padding: 20px 0;
        }
        // &-d{
        //     @media #{$xl, $md, $sm, $xs}{
        //         padding: 20px 0;
        //     }
        // }
        &-offer{
            & p{
                color: $white;
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 0;
                padding: 10px 0;
                & span{
                    font-weight: 500;
                }
            }
            &-border{
                border-right: 1px solid rgba($color: $white, $alpha: .15);
                @media #{$xs,$sm} {
                    border-right: 0;
                }
            }
        }
    }
    &__purchase{
        & p{
            font-size: 14px;
            color: $black-3;
            margin-bottom: 0;
        }
    }
}
.mobile-header-area{
    background: $white;
}
/* main menu css start */
.main-menu{
    &-border{
        padding-right: 35px;
        margin-right: 35px;
        border-right: 1px solid $border-2;
    }
    & ul{
        & li{
            display: inline-block;
            position: relative;
            &:not(:last-child){
                margin-right: 15px;
            }
            &.has-dropdown{
                & > a{
                    padding-right: 14px;
                    &::after{
                        position: absolute;
                        content: '\f107';
                        right: 0;
                        top: 9px;
                        font-size: 14px;
                        color: $black-2;
                        font-family: $fontawesome;
                    }
                }
            }
            & a{
                display: inline-block;
                font-size: 14px;
                color: $black-2;
                padding: 7px 0;
                position: relative;
            }
            & .submenu{
                text-align: left;
                position: absolute;
                min-width: 230px;
                background: $white;
                padding: 15px 0;
                top: 120%;
                z-index: 10;
                visibility: hidden;
                opacity: 0;
                @include transition(.4s);
                @include box-shadow(0 5px 20px rgba(0,0,0,.15));
                z-index: 11;
                & li{
                    margin: 0;
                    display: block;
                    &.has-dropdown{
                        & > a{
                            &::after{
                                right: 15px;
                                @include transform(rotate(-90deg));
                                color: $text-7;
                            }
                        }
                    }
                    & > a{
                        display: block;
                        color: $text-7;
                        line-height: 1.5;
                        padding: 10px 28px;
                        &:hover{
                            color: $black;
                        }
                    }
                    & .submenu{
                        left: 100%;
                        top: 0;
                    }
                    &:hover{
                        & > a{
                            &::after{
                                color: $black-2;
                            }
                        }
                    }
                }
            }
            &:hover{
                & > a{
                    color: $theme-color-1;
                    &::after{
                        color: $theme-color-1;
                    }
                }
                & > .submenu{
                    visibility: visible;
                    opacity: 1;
                    top: 100%;
                }
            }
        }
    }
    &-2{
        & ul{
            & li{
                & a{
                    font-size: 14px;
                    color: $black-3;
                    font-weight: 500;
                    padding-bottom: 10px;
                }
                &:hover > a{
                    color: $theme-color-2;
                }
            }
        }
        & ul li.has-dropdown:hover > a::after{
            color: $theme-color-2;
        }
    }
    &-3{
        & ul{
            & li{
                margin-right: 30px;
                & a{
                    font-size: 14px;
                    color: $white;
                    font-weight: 500;
                    padding: 15px 0;
                }
                &:hover > a{
                    color: $theme-color-3;
                }
            }
        }
        & ul li.has-dropdown > a::after{
            right: -3px;
            top: 16px;
            color: $white;
        }
    }
}

/* vategroy menu css start */
.category__menu{
    position: relative;
    & ul{
        & li{
            display: inline-block;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }

            & a{
                display: inline-block;
                font-weight: 500;
                color: $black-2;
                padding: 24px 0;
            }
            &:hover{
                & > a{
                    color: $theme-color-1;
                }
            }
        }
    }
}
.category__btn{
    padding-bottom: 16px;
    padding-top: 18px;
    &:hover{
        .side-submenu{
            visibility: visible;
            opacity: 1;
            top: 100%;
        }
    }
}
/* side submenu */
// categor menu
.side-submenu{
    background: $white;
    position: absolute;
    left: 0;
    top: 120%;
    min-width: 270px;
    z-index: 111;
    visibility: hidden;
    opacity: 0;
    @media #{$lg} {
        min-width: 160px;
    }
    & ul{
        & li{
            position: relative;
            display: block;
            margin-right: 0;
            & > a{
                display: inline-block;
                width: 100%;
                color: $text-1;
                padding: 14px 30px;
                padding-bottom: 10px;
                & i{
                    font-size: 17px;
                    padding-right: 15px;
                }
                @media #{$xl}{
                    padding-left: 15px;
                }
                @media #{$lg}{
                    padding-left: 15px;
                }
            }
            &:last-child{
                & a{
                    border-bottom: none;
                }
            }
            &.has-dropdown{
                & > a{
                    position: relative;
                    padding-right: 15px;
                    &::after{
                        position: absolute;
                        content: '\f0da';
                        font-weight: 700;
                        right: 10px;
                        top: 50%;
                        @include transform(translateY(-50%));
                        font-family: $fontawesome;
                        font-size: 14px;
                        color: $text-1;
                    }
                }
            }
            &:hover{
                & > a{
                    color: $black;
                    background: $grey-2;
                    &::after{
                        color: $black;
                    }
                }
                & .mega-menu{
                    visibility: visible;
                    opacity: 1;
                    left: 100%;
                }
                & .submenu{
                    left: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
    
            // mega menu
            & .mega-menu{
                position: absolute;
                left: 120%;
                top: 0;
                width: 800px;
                background: $white;
                z-index: 1;
                padding: 25px 25px;
                padding-bottom: 10px;
                visibility: hidden;
                opacity: 0;
                @include transition(.3s);
                @include box-shadow(4.316px 4.168px 20px 0px rgba(0, 0, 0, 0.1));
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right;
                @media #{$lg}{
                    width: 540px;
                    left: 110%;
                }
                @media #{$xl}{
                    width: 650px;
                    left: 110%;
                }
                & li{
                    width: 30%;
                    float: left;
                    margin-bottom: 25px;
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 0 ;
                    }
                    & > a{
                        font-size: 16px;
                        color: $black;
                        margin-bottom: 15px;
                        padding: 0;
                        border: none;
                    }
                    & .mega-item{
                        margin-bottom: 45px;
                        & li{
                            display: block;
                            width: 100%;
                            margin-bottom: 8px;
                            & a{
                                font-size: 14px;
                                color: $text-1;
                                margin-bottom: 0;
                                position: relative;
                                display: inline-block;
                                width: auto;
                                &::after{
                                    position: absolute;
                                    content: '';
                                    left: auto;
                                    right: 0;
                                    bottom: 0;
                                    background: $text-1;
                                    width: 0;
                                    height: 1px;
                                }
                            }
                            &:hover{
                                & > a{
                                    color: $black;
                                    &::after{
                                        width: 100%;
                                        left: 0;
                                        right: auto;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        & > a{
                            color: $black;
                            background-color: inherit;
                        }
                    }
                }
            }
    
            // submenu 
            & .submenu{
                position: absolute;
                top: 0;
                left: 120%;
                width: 270px;
                background: $white;
                @include box-shadow(4.316px 4.168px 20px 0px rgba(0, 0, 0, 0.1));
                @include transition(.3s);
                visibility: hidden;
                opacity: 0;
                z-index: 1;

                @media #{$sm}{
                    width: 235px;
                }
                & li{
                    display: block;
                    margin-right: 0;
                    border-bottom: 1px solid #e7e7e7;
                    &:last-child{
                        border-bottom: none;
                    }
                    & > a{
                        width: 100%;
                        display: block;
                        padding: 15px 25px;
                        text-transform: capitalize;
                        border-bottom: none;
                        &::before{
                            position: absolute;
                            content: '';
                            left: 0;
                            top: auto;
                            bottom: 0;
                            width: 2px;
                            height: 0;
                            background: $text-1;
                        }
                        &::after{
                            right: 15px;
                            @include transform(translateY(-50%) rotate(0deg));
                        }
                    }
                    &:hover{
                        & > a{
                            &::before{
                                height: 100%;
                                bottom: auto;
                                top: 0;
                            } 
                        }
                        & > .submenu{
                            visibility: visible;
                            opacity: 1;
                            left: 100%;
                        }
                    }
                    & .submenu{
                        top: 0;
                        left: 120%;
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
//offcanvas
.offcanvas{
    &__area{

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }

        & .modal.show .modal-dialog{
            transform: none !important;
        }
        & .modal.fade .modal-dialog{
            transition:transform .3s ease-out;
            transform:translate(100px,0px);
        }
        & .modal-dialog{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 450px;
            width: 100%;
            height: 100%;
            margin: 0;
            background: $white;
            @media #{$xs} {
                max-width: 300px;
            }
        }
        & .modal-content{
            border: 0;
        }

        &-2{
            & .modal.show .modal-dialog{
                transform: none !important;
                left: 0;
            }
            & .modal.fade .modal-dialog{
                transition:transform .3s ease-out;
                transform:translate(-100px,0px);
            }
            & .modal-dialog{
                left: 0;
                right: auto;
            }
        }
    }
    &__close{
        &-btn{
            font-size: 16px;
            color: $black;
            background: transparent;
            width: 16px;
            height: 16px;
            line-height: 16px;
            background: transparent;
            border: 0;
            outline: 0;
            &:hover{
                color: $theme-color-1;
            }

            & svg {
                width: 22px;
                height: 22px;
                & path{
                    fill: $black;
                }
            }
        }
    }
    &__action{
        & a{
            font-size: 16px;
            color: $black;
            position: relative;
            margin-right: 20px;
            &.has-tag{
                padding-right: 15px;
            }
            & .tag{
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                font-size: 10px;
                font-weight: 500;
                color: $white;
                background: #ccc;
                @include border-radius(50%);
            }
            & svg{
                width: 20px;
                height: 22px;
                & path{
                    fill: $black;
                }
            }
            &:hover{
                & .tag{
                    background: $black;
                    color: $white;
                }
            }
        }
    }
    &__top{
        padding: 40px;
        padding-bottom: 0;
    }
    &__bottom{
        margin-top: 15px;
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px 35px;
        background: $white;
        z-index: 1;
    }
    &__search{
        &-btn{
            background: transparent;
            font-size: 22px;
            & svg{
                width: 22px;
                height: 22px;

                & path{
                    fill: $black;
                }
            }
        }
    }
    &__wrapper{
        position: relative;
        height: 100%;
    }
    &__social{
        & ul{
            & li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 20px;
                }
                & a{
                    font-size: 14px;
                    color: $black;
                }
            }
        }
    }
    &__content{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}
.sidebar{
    &__search{
        position: relative;
        padding: 0 40px;
        & input{
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-right: 30px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid $border;
            font-size: 14px;
            &::placeholder{
                color: $black;
            }
            &:focus{
                border-color: $theme-color-1;
            }
        }
        & button{
            position: absolute;
            top: 50%;
            right: 45px;
            @include transform(translateY(-50%));
            font-size: 14px;
            color: $black;
        }
    }
}

//header bar
.header-bar-btn{
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    & span{
        display: inline-block;
        width: 100%;
        background: $black;
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1){
            top: 0px;
        }
        &:nth-child(2){
            top: 7px;
        }
        &:nth-child(3){
            top: 14px;
        }
    }
    &-2{
        & span{
            background: $white;
        }
    }
}