{% load static %}
{% load mptt_tags %}
{% load custom_tags %}

<div class="side-submenu transition-3">
    <nav>
        <ul class="root">

            {% recursetree categories %}
                <li {% if not node.is_leaf_node %} class="has-dropdown" {% endif %}>
                    <a href="{{ node.get_absolute_url }}">
                        {{ node.title }}
                    </a>

                    {% if not node.is_leaf_node %}
                        <ul class="mega-menu">
                            <li class="w-100">
                                <ul class="mega-item">
                                    <li>{{ children }}</li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}

                </li>
            {% endrecursetree %}

        </ul>
    </nav>
</div>