{% load static %}

<section class="category__area pt-40 grey-bg-3">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="section__title-wrapper section__title-line mb-40">
                    <h3 class="section__title">УСЛУГИ</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for category in categories %}
                {% if category.is_leaf_node %}
            <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="category__item mb-30 grey-bg-3">
                    <div class="category__thumb w-img fix">
                        <a href="{% url 'category_read' category.slug%}">
                            <img src="{% static '/assets/img/products/category/category-1.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="category__content text-center">
                        <h3 class="category__title">
                            <a href="{% url 'category_read' category.slug%}">{{ category.title }}</a>
                        </h3>
{#                        <span class="category__quantity">(70)</span>#}
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>