{% load static %}

<section class="features__area">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="features__item text-center mb-30 features__item-border">
                    <div class="features__icon">
                        <i class="far fa-shield"></i>
                    </div>
                    <div class="features__content">
                        <h3 class="features__title">Гарантия</h3>
                        <p>Гарантия на работы - 12 месяцев</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="features__item text-center mb-30 features__item-border">
                    <div class="features__icon">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <div class="features__content">
                        <h3 class="features__title">Оплата</h3>
                        <p>Оплата после принятия работ</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="features__item text-center mb-30 features__item-border">
                    <div class="features__icon">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="features__content">
                        <h3 class="features__title">Контроль</h3>
                        <p>Свободный доступ в зону ремонта</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="features__item text-center mb-30">
                    <div class="features__icon">
                        <i class="far fa-tools"></i>
                    </div>
                    <div class="features__content">
                        <h3 class="features__title">Оборудование</h3>
                        <p>Профессиональное оборудование и материалы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>