{% load static %}

<section class="slider__area mb-50">
    <div class="slider__active swiper-container">
        <div class="swiper-wrapper">
            <div class="slider__item slider__height swiper-slide d-flex align-items-start include-bg"
                 style="background-image: url('{% static '/assets/img/index/slider/slider-1.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5">
                            <div class="slider__content p-relative z-index-11">
                                <span data-animation="fadeInUp" data-delay=".3s">Работа с гарантией</span>
                                <h3 style="background: darkgoldenrod;" class="slider__title" data-animation="fadeInUp" data-delay=".5s">
                                    Решение проблем с автомобилем быстро и надежно</h3>
                                <div style="background: grey;" class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                    <a href="{% url 'contacts' %}" class="slider-btn">СВЯЗАТЬСЯ С НАМИ<i
                                            class="fal fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item slider__height swiper-slide d-flex align-items-start include-bg"
                 style="background-image: url('{% static '/assets/img/index/slider/slider-2.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5">
                            <div class="slider__content p-relative z-index-11">
                                <span data-animation="fadeInUp" data-delay=".3s">Больше выгоды</span>
                                <h3 style="background: grey;" class="slider__title" data-animation="fadeInUp" data-delay=".5s">Бонусная и
                                    реферальная программы для вашей экономии</h3>
                                <div style="background: darkgoldenrod;" class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                    <a href="{% url 'bonus' %}" class="slider-btn">ПЕРЕЙТИ К УСЛОВИЯМ<i
                                            class="fal fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-pagination">
            <button class="main-slider-button-prev"><i class="fal fa-angle-left"></i></button>
            <button class="main-slider-button-next"><i class="fal fa-angle-right"></i></button>
        </div>
    </div>
</section>