{% load static %}

<section class="banner__area pb-100">
    <div class="container">
        <div class="row gx-0">
            <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="banner__thumb-big w-img">
                    <img src="{% static 'assets/img/index/podbor.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="banner__content text-center grey-bg-4 h-100">
                    <div class="banner__top">
                        <h4>Подбор автомобиля от ведущего специалиста Крыма</h4>
                        <p>Подобранные автомобили служат своим хозяевам много лет и в
                            будущем продаются по очень выгодным ценам!</p>
                    </div>
                    <div class="banner__thumb w-img">
                        <img src="{% static 'assets/img/index/podbor_logo.jpeg' %}" alt="">
                    </div>
                    {#                    <h3>#}
                    {#                        Двойная выгода:#}
                    {#                    </h3>#}
                    <div class="product__price-2 mt-2">
                        <h5 style="color: #b9a16b">Сумма торга в 95% случаев окупает стоимость услуг автоподбора</h5>
                    </div>
                    <div class="product__item">
                    <div class="product__title">
                    <span>
                        <a class="" href="https://vk.com/expert92rus" target="_blank" rel="noopener">
                            <i class="fab fa-vk"></i> Получить скидку 10%
                        </a>
                        </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
