{% extends 'base_STO.html' %}
{% load static %}
{% load mptt_tags %}


{% block content %}
    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="shop-details pt-20 pb-90">
            <div class="container">
                <div class="row">
                    <h1 class="text-center">
                        {% if category.h1 %}{{ category.h1 }}
                            {% else %}{{ category.title }}
                        {% endif %}
                    </h1>

                    <!-- left side of the page start -->
                    <div class="col-xxl-3 col-xl-4">

                        <!-- sign up button start -->
                        <div class="pro-cart-btn">
                            <a href="{% url 'services_registration' %}" class="btn-tp-2 mb-20 m-1 w-100">
                                Записаться на СТО</a>
                        </div>
                        <!-- sign up button end -->

                        <!-- description start -->
                        {% if category.description %}
                            {{ category.description }}
                        {% else %}
                            Услуги по ремонту автомобилей в Севастополе могут обойтись совсем недорого, если
                            обратиться в надежный автосервис. "Кармастер" - не просто хороший вариант, это
                            лучший выбор из возможных. Об этом говорят
                            <a class="accent" href="{% url 'reviews' %}">отзывы</a>
                            наших клиентов. Для недорогого ремонта
                            автомобилей нужно не так много: обученные мастера, досконально знающие свою
                            профессиональную сферу деятельности, качественное оборудование и материалы,
                            <a class="accent" href="{% url 'guarantees' %}">гарантии</a>
                            на работы. Все это в совокупности с отличной репутацией - показатель того, что
                            ремонт автомобиля будет выполнен в рамках единого технологического процесса. А значит,
                            вам не придется нести лишние затраты.
                        {% endif %}
                        <!-- description end -->

                    </div>
                    <!-- left side of the page end -->

                    <!-- right side of the page start -->
                    <div class="col-xxl-9 col-xl-8">
                        <div class="shop-top-area mb-20">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-2 col-md-3 col-sm-3">
                                </div>

                                <!-- output of the number of elements start -->
                                {% if not all %}
                                    <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-6">
                                        <p class="show-total-result text-sm-center">
                                            {% if not category.is_root_node %}
                                                Показано {{ page_obj.start_index }}-{{ page_obj.end_index }}
                                                из {{ page_obj.paginator.count }}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                <!-- output of the number of elements end-->

                                <div class="col-xl-4 col-xl-4 col-md-3 col-sm-3">
                                </div>
                            </div>
                        </div>
                        <div class="shop-main-area mb-40">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="tab1">
                                    <div class="row">

                                        <!-- output of categories for the page of all categories start -->
                                        {% if all %}
                                            {% recursetree all %}

                                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                                    <div class="product__item mb-20">
                                                        <div class="product__thumb w-img fix">
                                                            <a href="{{ node.get_absolute_url }}">
                                                                <img src="
                                                            {% if node.image %}
                                                            {{ node.image.url }}
                                                            {% else %}
                                                            {% static 'assets/img/defaults/category.png' %}
                                                            {% endif %}"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product__content">
                                                            <h3 class="product__title">
                                                                <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endrecursetree %}
                                            <!-- output of categories for the page of all categories end -->

                                            <!-- output of subcategories for the page of current parent category start -->
                                        {% elif category.is_root_node %}
                                            {% for children in category.get_descendants %}
                                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">

                                                    <div class="product__item mb-20">
                                                        <div class="product__thumb w-img fix">
                                                            <a href="{{ children.get_absolute_url }}">
                                                                <img src="
                                                            {% if children.image %}
                                                            {{ children.image.url }}
                                                            {% else %}
                                                            {% static 'assets/img/defaults/category.png' %}
                                                            {% endif %}"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product__content">
                                                            <div class="product__tag product__tag-4">
                                                                {% if category.parent %}
                                                                    <span>
                                                                <a href="{{ children.parent.get_absolute_url }}">{{ children.parent }}</a>
                                                            </span>
                                                                {% endif %}
                                                            </div>
                                                            <h3 class="product__title">
                                                                <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- output of subcategories for the page of current parent category end -->

                                            <!-- output of services for the page of current category start -->
                                        {% else %}
                                            {% for service in service_list %}
                                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                                    <a name="to_{{ service.slug }}"></a>

                                                    <div class="product__item mb-20">
                                                        <div class="product__thumb w-img fix">
                                                            <a href="{{ service.get_absolute_url }}">
                                                                <img src="
                                                            {% if service.image %}
                                                            {{ service.image.url }}
                                                            {% else %}
                                                            {% static 'assets/img/defaults/category.png' %}
                                                            {% endif %}"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                        <div class="text-center m-1">
                                                        </div>

                                                        <div class="product__content border-bottom">
                                                            <div class="product__tag product__tag-4">
                                                                {% if category.parent %}
                                                                    <span>
                                                                <a href="{{ category.parent.get_absolute_url }}">
                                                                    {{ category.parent }}
                                                                </a>
                                                                    </span>
                                                                {% endif %}
                                                            </div>
                                                            <form id="{{ service.slug }}"
                                                                  action="{% url 'add_service_to_list' service.slug %}"
                                                                  method="POST">
                                                                {% csrf_token %}
                                                                <input type='hidden' name="path"
                                                                       value="{{ request.get_full_path }}"/>

                                                                <a href="#to_{{ service.slug }}"
                                                                   onclick="document.forms['{{ service.slug }}'].submit();"><i
                                                                        class="fas fa-plus"></i> В список интересующих
                                                                    меня</a>
                                                            </form>
                                                            <h3 class="product__title">
                                                                <a href="{{ service.get_absolute_url }}">{{ service.title }}</a>
                                                            </h3>
                                                            <div class="product__price product__price-4 mb-10">
                                                                <span class="price">от {{ service.min_price }} &#x20bd;</span>
                                                            </div>
                                                            <a href="{{ service.get_absolute_url }}">Подробнее об
                                                                услуге</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <!-- output of services for the page of current category start -->

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- pagination start -->
                        <div class="shop-pagination">
                            <div class="basic-pagination">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="{% if not page_obj.has_previous %} btn p-0 disabled {% endif %}"
                                               href="{% if page_obj.has_previous %} ?page=
                                                   {{ page_obj.previous_page_number }}{% else %} # {% endif %}">
                                                <i class="far fa-angle-left"></i>
                                            </a>
                                        </li>
                                        {% for page in page_obj.paginator.page_range %}
                                            <li>
                                                <a href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            <a class="{% if not page_obj.has_next %} btn p-0 disabled {% endif %}"
                                               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                               {% else %} # {% endif %}">
                                                <i class="far fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- pagination end -->

                    </div>
                    <!-- right side of the page end -->
                </div>
            </div>
        </section>
        <!-- page content end -->
    </main>

{% endblock %}
