{% extends 'base_STO.html' %}
{% load static %}


{% block content %}
    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="product-details pt-30 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="product__modal-content-2">
                            <h1>
                                {% if service.h1 %}{{ service.h1 }}
                                    {% else %}{{ service.title }}
                                {% endif %}
                            </h1>
                            <div class="product__price mb-25">
                                <h3>от {{ service.min_price }} &#x20bd;</h3>
                            </div>
                            <div class="product__tag mb-25">
                                <span class="ct mr-20">Категория:</span>
                                <span><a
                                        href="{{ service.category.get_absolute_url }}">{{ service.category }}</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="tab-content mb-20" id="product-detailsContent">
                            <div class="pro-quan-area d-sm-flex align-items-center">

                                <div class="row">
                                    <div class="col-12">

                                        <form id="{{ service.slug }}"
                                              action="{% url 'add_service_to_list' service.slug %}"
                                              method="POST">
                                            {% csrf_token %}
                                            <input type='hidden' name="service_page" value="service_page"/>

                                            <div class="pro-cart-btn">
                                                <a onclick="document.forms['{{ service.slug }}'].submit();"
                                                   class="btn-tp-2 mb-20 m-1 w-100">
                                                    В список интересующих</a>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="col-12">
                                        <div class="pro-cart-btn">
                                            <a href="{% url 'services_registration' %}"
                                               class="btn-tp-2 mb-20 m-1 w-100">
                                                Записаться на СТО</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70 ml-20 mr-10">
                <div class="col-12">
                    <div class="product__details-tab">
                        <div class="tab-content" id="pro-detailsContent">
                            <div class="tab-pane fade active show" id="des" role="tabpanel">
                                <div class="product__details-des mb-20">
                                    <p>{{ service.body }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page content end -->
    </main>

{% endblock %}
