{% load static %}

<section class="page__title p-relative d-flex align-items-start"
        style="background-image: url('{% static '/assets/img/index/slider/slider-1.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-inner text-center text-white mt-80">
                    <h3 class="text-white">{{ title | upper }}</h3>
                    <div class="page__title-breadcrumb text-white">
                        <nav aria-label="breadcrumb text-white">
                            <ol class="breadcrumb justify-content-center text-white">
                                <li class="breadcrumb-item text-white">
                                    <a class="text-uppercase" href="{% url 'index' %}">
                                        Главная
                                    </a>
                                </li>
                                <li class="breadcrumb-item active uppercase text-white"
                                    aria-current="page">{{ title | upper }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
