@use '../utils/index' as *;
/*----------------------------------------*/
/*  05. Carousel CSS START
/*----------------------------------------*/ 

/* common carousel css start */
.common-nav{
    & .owl-nav{
        @include flexbox();
        & button{
            font-size: 16px;
            color: $text-8;
            &.nav-right{
                margin-left: 20px;
            }
            &:hover{
                color: $black;
            }
        }
    }
}
.common-dot{
    .owl-dots {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    .owl-dot.active {
        background: #fff;
        border: 2px solid $black;
        height: 12px;
        width: 12px;
        position: relative;
        top: 2px;
    }
    .owl-dot {
        border: 1px solid  $text-6;
        height: 8px;
        background: $text-6;
        width: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }
}