@use '../utils/index' as *;

/*----------------------------------------*/
/*  06. Modal CSS START
/*----------------------------------------*/   

.product{
    &__modal{
        max-width: 900px;
        padding: 20px;
        padding-top: 27px;
        &-close{
            top: 15px;
            right: 15px;
            z-index: 1;
            & button{
                color:$white;
                display: block;
                line-height: 36px;
                text-align: center;
                background: $theme-color-1;
                width: 38px;
                height: 38px;
                @include border-radius(100%);
                border: 1px solid $theme-color-1;
                outline: none;
                &:hover{
                    background: $white;
                    color: $black;
                }
            }
        }
        &-wrapper{
            padding: 20px;
        }
        &-content{
            & h4{
                font-size: 24px;
                font-weight: 500;
                text-transform: none;
                padding: 0;
                margin: 0;
                padding-right: 65px;
                margin-bottom: 15px;
            }
        }
        &-box{
            & .nav-tabs{
                border-bottom: 0;
            }
            & .nav-link{
                padding: 0;
                @include border-radius(0);
                border: none;
            }
        }
        &-links{
            & ul{
                & li{
                    display: inline-block;
                    margin-right: 4px;
                    & a{
                        display: block;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        background: $grey-4;
                        border: 1px solid $border;
                        @include border-radius(50%);
                        text-align: center;
                        &:hover{
                            color: $black;
                            background: $theme-color-1;
                            border-color: $theme-color-1;
                        }
                    }
                }
            }
        }
        & .nav-tabs{
            border: none;
            justify-content: space-between;
        }
        & .nav-item{
        }
        & .nav-link{
            border: 1px solid $border;
            position: relative;
            margin-bottom: 20px;
            &.active{
                border-color: $theme-color-1;
                &::after{
                    position: absolute;
                    content: '';
                    top: -12px;
                    left: 50%;
                    @include transform(translateX(-50%));
                    border: 6px solid transparent;
                    border-top-color: transparent;
                    border-bottom-color: $theme-color-1;
                }
            }
        }
        &-title{
            font-size: 22px;
            font-weight: 600;
        }
        &-stock{
            & span{
                font-size: 14px;
                color: $theme-color-1;
                &:first-child{
                    color: $black;
                    padding-right: 5px;
                }
            }
        }
        &-add-review{
            & span{
                & a{
                    position: relative;
                    padding-right: 10px;
                    margin-right: 10px;
                    &::after{
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        width: 1px;
                        height: 80%;
                        background: $border;
                    }
                    &:hover{
                        color: $theme-color-1;
                    }
                }
                &:last-child{
                    & a{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }   
        &-price{
            & span{
                font-size: 22px;
                color: $black;
                display: inline-block;
                margin-bottom: 15px;
            }
        }     
    }
}
.rating{
    margin-bottom: 5px;
    &-2{
        margin-bottom: 15px;
    }
    & ul{
        & li{
            display: inline-block;
            & a{
                color: $theme-color-1;
                &:hover{
                    color: $black;
                }
            }
        }
    }
    &__shop{
        & ul{
            & li{
                & a{
                    font-size: 16px;
                }
            }
        }
    }
}