{% extends 'base_STO.html' %}
{% load static %}


{% block content %}

    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- guarantees area start -->
        <section class="about__history pt-30 pb-20 mb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="text-center mb-30">
                        Реферальная программа для клиентов нашего СТО. Рекомендуйте нас и получайте бонусы.
                    </h1>
                    <div class="col-xxl-8 col-xl-10">
                        <div class="about__history-wrapper">
                            <div class="about__history-title-area">
                                <h3 class="about__history-title">
                                    <span>{{ title }}</span>
                                </h3>
                            </div>
                        </div>
                        <p class="about__history-text text-main">
                            Каждый участник может приглашать рефералов в неограниченном количестве, получая за
                            каждого приведённого друга <b class="accent">5%</b> от его покупки на бонусный счёт.
                            Приглашенный человек
                            получает скидку в <b class="accent">10%</b> на бонусный счет от суммы первого заказа и также
                            становится
                            участником программы. А значит, он тоже может приглашать друзей и получать от этого
                            выгоду при последующих заказах.
                            Чтобы принять участие в реферальной программе, следует
                            получить индивидуальную карту.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- guarantees area end -->

        <!-- advantages area start -->
        <section class="features__area mb-50">
            <div class="row mb-30">
                <div class="col-12">
                    <div class="sec-wrapper text-center">
                        <h5>Больше выгодных предложений:</h5>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="{% url 'stocks_list' %}">
                                <div class="features__icon">
                                    <i class="fas fa-wallet"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Акции от Кармастер</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="features__item text-center mb-30 features__item-border">
                            <a href="{% url 'bonus' %}">
                                <div class="features__icon">
                                    <i class="fas fa-coins"></i>
                                </div>
                                <div class="features__content">
                                    <h3 class="features__title">Бонусная программа Кармастер</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- advantages area end -->
    </main>

{% endblock %}
