{% extends 'base_STO.html' %}
{% load static %}


{% block content %}

    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="blog-area mt-30 mb-50">
            <div class="container custom-container">
                <div class="row">
                    <h1 class="text-center mb-30">
                        Акции и скидки на ремонт автомобилей в Севастополе
                    </h1>
                    <div>СТО «Кармастер» регулярно проводит акции и предоставляет скидки на ремонт авто своим клиентам.
                        С актуальными предложениями вы сможете ознакомиться на этой странице.
                    </div>

                    <!-- page left part start-->
                    <div class="col-xl-8 col-lg-8">
                        <div class="blog__wrapper pr-50">
                            {% for stock in stock_list %}
                                <div class="blog-wrap blog-item mb-50 p-2" style="background-image:
                                        {% if stock.image %}
                                            url('{{ stock.image.url }}');
                                        {% else %}
                                            url('{% static '/assets/img/defaults/stock_1.jpg' %}');
                                        {% endif %}
                                        background-size:cover">
                                    <h3 class="blog-title">
                                        <a href="{{ stock.get_absolute_url }}">{{ stock.title }}</a>
                                    </h3>
                                    <div class="blog-details mt-35">
                                        {% if not stock.is_indefinite %}
                                            <h5><i class="fal fa-clock"></i> C {{ stock.start_date | date }}
                                                по {{ stock.end_date | date }}</h5>
                                        {% endif %}
                                        <div class="text-main text-dark">{{ stock.body | safe | truncatechars_html:200 }}</div>
                                        <a class='btn btn-dark m-1'
                                           href='{{ stock.get_absolute_url }}'>Подробнее</a>
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- pagination area start -->
                        <div class="row mb-50">
                            <div class="col-xxl-12">
                                <div class="shop-pagination">
                                    <div class="basic-pagination">
                                        <nav>
                                            <ul>
                                                <li>
                                                    <a class="{% if not page_obj.has_previous %} btn p-0 disabled {% endif %}"
                                                       href="{% if page_obj.has_previous %} ?page=
                                                   {{ page_obj.previous_page_number }}{% else %} # {% endif %}">
                                                        <i class="far fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                {% for page in page_obj.paginator.page_range %}
                                                    <li>
                                                        <a href="?page={{ page }}">{{ page }}</a>
                                                    </li>
                                                {% endfor %}
                                                <li>
                                                    <a class="{% if not page_obj.has_next %} btn p-0 disabled {% endif %}"
                                                       href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                               {% else %} # {% endif %}">
                                                        <i class="far fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- pagination area end -->

                    </div>
                    <!-- page left part end-->

                    <!-- right sidebar start-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog__sidebar">
                            <div class="sidebar__widget mb-50 wow fadeInUp" data-wow-delay=".2s"
                                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-content">
                                    <div><h3>Записаться на СТО</h3></div>
                                    <div class="pro-cart-btn">
                                        <a href="{% url 'services_registration' %}" class="btn-tp-2 mb-20 m-1 w-100">
                                            К форме записи
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__widget sidebar__widget-padding mb-75 wow fadeInUp grey-bg-2"
                                 data-wow-delay=".4s"
                                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-title mb-25">
                                    <h4>Больше выгоды</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="rc-post">
                                        <ul>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'bonus' %}">Бонусная программа</a>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'referral' %}">Реферальная программа</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__widget sidebar__widget-padding mb-75 wow fadeInUp grey-bg-2"
                                 data-wow-delay=".6s"
                                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-title mb-25">
                                    <h4>Больше информации</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="rc-post">
                                        <ul>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'cases_list' %}">Наши работы</a>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'guarantees' %}">Гарантии</a>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-20">
                                                <div class="rc-text text-main">
                                                    <a href="{% url 'contacts' %}">Связаться с нами</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page content end -->

    </main>

{% endblock %}
