{% extends 'base_STO.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="blog-details-area mt-100 mb-50">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="row">
                            <div class="blog-wrapper pr-50">
                                <div class="blog-wrap blog-item mb-50">
                                    <div class="blog-details mt-35 text-main">
                                        {% if not stock.is_indefinite %}
                                        <h5><i class="fal fa-clock"></i> C {{ stock.start_date | date }}
                                            по {{ stock.end_date | date }}</h5>
                                        {% endif %}
                                        <h1 class="blog-title">
                                            {% if object.h1 %}{{ object.h1 }}
                                                {% else %}{{ object.title }}
                                            {% endif %}</h1>
                                        <div class="text-main text-dark">{{ object.body | safe }}</div>
                                    </div>
                                </div>
                                <div class="blog-info d-sm-flex align-items-center justify-content-between mb-40">
                                    {% if object.conditions %}
                                        <div class="blog-category">
                                            <h5>Условия участия в акции: </h5>
                                            <span>{{ object.conditions }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog__sidebar">
                            <div class="sidebar__widget-content">
                                <div><h3>Записаться на СТО</h3></div>
                                <div class="pro-cart-btn">
                                    <a href="{% url 'services_registration' %}" class="btn-tp-2 mb-20 m-1 w-100">К
                                        форме записи</a>
                                </div>
                            </div>
                            <div class="sidebar__widget sidebar__widget-padding mb-75 wow fadeInUp grey-bg-2"
                                 data-wow-delay=".6s"
                                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <div class="sidebar__widget-title mb-25">
                                    <h4>Список услуг акции:</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="tags">
                                        <ul>
                                            {% for service in object.services.all %}
                                                <li><a href="{{ service.get_absolute_url }}">
                                                    {{ service.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__widget sidebar__widget-padding mb-50 wow fadeInUp grey-bg-2"
                                 data-wow-delay="1s">
                            {% if other_stocks %}
                                <div class="sidebar__widget-title mb-15">
                                    <h4>Другие акции:</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="tags">
                                        <ul>
                                            {% for stock in other_stocks %}
                                                <li><a href="{{ stock.get_absolute_url }}">
                                                    {{ stock.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page content end -->

    </main>

{% endblock %}
