{% extends 'base_STO.html' %}
{% block content %}
    <section class="about__history pt-95 pb-20 mb-50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-10">
                    <div class="about__history-wrapper">
                        <div class="about__history-title-area">
                            <h3 class="about__history-title">
                                <span>{{ problem }}</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="pro-cart-btn">
                                <a href="{% url 'index' %}"
                                   class="btn-tp-2 mb-20 m-1 w-100">
                                    На главную</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="pro-cart-btn">
                                <a href="#" onClick="javascript:history.go(-1);"
                                   class="btn-tp-2 mb-20 m-1 w-100">
                                    Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}