{% load static %}
{% load mptt_tags %}
{% load custom_tags %}
{% get_categories as categories %}
{% load yandex_metrica %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block seo_title %}{{ seo_title }}{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{{ seo_description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/backtotop.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome-pro.css' %}">
{#        <link rel="stylesheet" href="{% static 'assets/flaticon/flaticon.css' %}">#}
        <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block css %}
    {% endblock %}
    {% yandex_metrica %}
</head>
<body>

<!--[if lte IE 9]>
<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста,
    <a href="http://browsehappy.com/">обновите ваш браузер</a> для соблюдения требований безопасности.</p>
<![endif]-->

<!-- prealoder area start -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="first_object"></div>
            <div class="object" id="second_object"></div>
            <div class="object" id="third_object"></div>
        </div>
    </div>
</div>
<!-- prealoder area end -->

<!-- back to top start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- back to top end -->

{% block includes_header %}
    <!-- header area start -->
    {% include 'includes/header.html' %}
    <!-- header area end -->
{% endblock %}


<!-- sidebar area start -->
<section class="offcanvas__area">
    <div class="modal fade" id="offCanvasModal" tabindex="-1" aria-labelledby="offCanvasModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="offcanvas__wrapper">
                    <div class="offcanvas__top d-flex align-items-center mb-60 justify-content-between">
                        <div class="logo bg-dark">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button class="offcanvas__close-btn" data-bs-dismiss="modal"
                                    data-bs-target="#offCanvasModal">
                                <svg viewBox="0 0 22 22">
                                    <path d="M12.41,11l5.29-5.29c0.39-0.39,0.39-1.02,0-1.41s-1.02-0.39-1.41,0L11,9.59L5.71,4.29c-0.39-0.39-1.02-0.39-1.41,0
                                            s-0.39,1.02,0,1.41L9.59,11l-5.29,5.29c-0.39,0.39-0.39,1.02,0,1.41C4.49,17.9,4.74,18,5,18s0.51-0.1,0.71-0.29L11,12.41l5.29,5.29
                                            C16.49,17.9,16.74,18,17,18s0.51-0.1,0.71-0.29c0.39-0.39,0.39-1.02,0-1.41L12.41,11z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="sidebar__search mb-25">
                        <form action="{% url 'search_services' %}" method="get">
                            <input type="text" placeholder="Поиск услуг..."
                                                   name="search_panel" aria-label="Search">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="offcanvas__content p-relative z-index-1">
                        <div class="canvas__menu">
                            <div class="mobile-menu fix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- sidebar area end -->

{% block content %}
{#    {% get_categories as categories %}#}
{% endblock %}
    <!-- footer area start -->
    {% include 'includes/footer.html' %}
    <!-- footer area end -->

    <!-- JS here -->
    <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'assets/js/vendor/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'assets/js/meanmenu.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui-slider-range.js' %}"></script>
    <script src="{% static 'assets/js/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/parallax.js' %}"></script>
    <script src="{% static 'assets/js/backtotop.js' %}"></script>
    <script src="{% static 'assets/js/nice-select.js' %}"></script>
    <script src="{% static 'assets/js/counterup.js' %}"></script>
    <script src="{% static 'assets/js/countdown.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/isotope-pkgd.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded-pkgd.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
