{% extends 'base_STO.html' %}
{% load static %}
{% load mptt_tags %}


{% block content %}
    <main>
        <!-- stocks slider area start -->
        {% include 'includes/index-includes/index-banners.html' %}
        <!-- stocks slider area end -->

        <h1 class="text-center mb-30">Диагностика и ремонт авто в Севастополе на автосервисе «Кармастер»</h1>
        <section class="features__area">
            <div class="container">
                <div class="row mb-20">
                    <div class="col-12">
                        СТО «Кармастер» осуществляет профессиональный ремонт автомобилей в Севастополе по доступным
                        ценам. Наш автосервис имеет специализированное оборудование, сотрудники обладают большим
                        опытом работы с различными марками и моделями авто.
                    </div>
                </div>
            </div>
        </section>
        <!-- conditions area start -->
        {% include 'includes/index-includes/index-conditions.html' %}
        <!-- conditions area end -->

        <!-- services list area start -->
        {% include 'includes/index-includes/services-list.html' %}
        <!-- services list area end -->

        <!-- banner area start -->
        {% include 'includes/index-includes/index-car-selection.html' %}
        <!-- banner area end -->

        <!-- our cases area start -->
        {% include 'includes/index-includes/index-our-cases.html' %}
        <!-- our cases area end -->
    </main>


{% endblock %}
