<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>Пользователь <b>{{ name }}</b> заполнил форму {{ form_type }} на СТО на сайте <b>{{ my_site_name }}</b></h3>
<br>
<p>Сообщение:</p>
<div> {{ content }}</div>
<br>
<div>
    <p>Имя: {{ name }}</p>
    <p><a href="tel: {{ phone }}"><i class="fal fa-phone-alt"></i></a>Номер для обратной связи: {{ phone }}</p>
    <p>Форма заполнена: {{ form_date }}</p>
</div>
<br>
<div>
    {% if user_services %}
        <h5>Список заинтересовавших клиента услуг:</h5>{% endif %}
    {% for service in user_services %}
        <p>{{ forloop.counter }}. {{ service.title }}</p>
    {% empty %}
        <p>Клиент не отметил услуг, заинтересовавших его.</p>
    {% endfor %}

</div>
</body>
</html>
