{% extends 'base_STO.html' %}
{% load static %}


{% block content %}
    <main>
        <!-- page__title-start -->
        {% include 'includes/page-title.html' %}
        <!-- page__title-end -->

        <!-- page content start -->
        <section class="blog-details-area mt-100 mb-50">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="row">
                            <div class="blog-wrapper pr-50">
                                <div class="blog-wrap blog-item mb-50">
                                    <div class="blog-thumb">
                                        <img src="{% if case.image_before %} {{ case.image_before.url }} {% else %} {% static 'assets/img/blog/blog-1.jpg' %} {% endif %}"
                                             alt="" id="{{ case.image_before.url }}" name="{{ case.image_after.url }}"
                                             class="case-images">
                                    </div>
                                    <div class="blog-details mt-35 text-main">
                                        <ul class="blog-meta">
                                            <li><h5>{{ case.end_date }}</h5></li>
                                            <li><h5>Срок выполнения: {{ case.period }} {{ case.period_to_days }}</h5>
                                            </li>
                                            </li>
                                        </ul>
                                        <h1 class="blog-title">
                                            {% if object.h1 %}{{ object.h1 }}
                                                {% else %}{{ object.title }}
                                            {% endif %}</h1>
                                        <div class="text-main">{{ object.body | safe }}</div>
                                    </div>
                                </div>
                                <div class="blog-info d-sm-flex align-items-center justify-content-between mb-40">
                                    <div class="blog-category">
                                        <span>Стоимость комплекса услуг: </span>
                                        <h3>{{ object.price }} &#x20bd;</h3>
                                    </div>
                                </div>

                                {% if object.videofile_set.all %}
                                    <div class="blog-wrapper pr-50">
                                        <div class="blog-wrap blog-item mb-50">
                                            <div class="blog-details mt-35 text-main">
                                                <h5>
                                                    Отзыв автовладельца:
                                                </h5>
                                            </div>
                                            <div class="blog-thumb">
                                                {% for review in object.videofile_set.all %}
                                                    <div class="thumb-wrap">
                                                        {% if review.video %}
                                                            <iframe width="560" height="315"
                                                                    class="embed-responsive-item d-flex"
                                                                    src="{{ review.video | safe }}"
                                                                    allowfullscreen></iframe>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog__sidebar">
                            {% if object.services %}
                                <div class="sidebar__widget sidebar__widget-padding mb-75 wow fadeInUp grey-bg-2"
                                     data-wow-delay=".6s"
                                     style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                    <div class="sidebar__widget-title mb-25">
                                        <h4>Список услуг для этого заказа:</h4>
                                    </div>
                                    <div class="sidebar__widget-content">
                                        <div class="tags">
                                            <ul>
                                                {% for category in object.services.all %}
                                                    <li><a href="{{ category.get_absolute_url }}">
                                                        {{ category.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="sidebar__widget sidebar__widget-padding mb-50 wow fadeInUp grey-bg-2"
                                 data-wow-delay="1s">
                                <div class="sidebar__widget-title mb-15">
                                    <h4>Другие работы:</h4>
                                </div>
                                <div class="sidebar__widget-content">
                                    <div class="tags">
                                        <ul>
                                            {% for case in other_cases %}
                                                <li><a href="{{ case.get_absolute_url }}">
                                                    {{ case.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page content end -->

    </main>

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/STO.js' %}"></script>
{% endblock %}
